/**
 * This place is a mess
 * I'll clean it up at a later date
 */

* {
    font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
}
.inline-block { display:inline-block; }
body { background: #d7d7d7; width: 363px; }
header {
    position: relative;
    height:32px;
    padding:0 0 5px 40px;

    font-size:32px;
    font-weight:bold;
    color:#666;
    text-shadow:1px 1px #e5e5e5;

    background:no-repeat left center;
}
header::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;

    border-top: 1px solid #ccc;
    background: -webkit-radial-gradient(top, ellipse, #eee 0%, #d7d7d7 70%);
    background:radial-gradient(top, ellipse, #eee 0%, #d7d7d7 70%);
    z-index: -1;
}
.red { color: #d12121; text-shadow: 1px 1px #925555; }
.green { color: #72a326; text-shadow: 1px 1px #4a7010; }
.orange { color: #e0aa1e; text-shadow: 1px 1px #976300; }

/**
 * Status
 */
.status {
    text-align:right;
    font-weight:bold;
    margin: 0;
}
.status:first-of-type { margin-top: 1em; }

/**
 * Match styling
 */
.main header {
    background-image:url(../imgs/bets.png);
}
.match {
    display: inline-block;
    margin-bottom: 10px;
}
.match:last-of-type { margin: 0; }
.match .header {
    padding: 5px 5px 5px 0;
    margin: 0;

    font-size:14px;
    color: #333;
    text-shadow: 1px 1px #e5e5e5;
}
.match a { color: #252525; }
.match .box {
    display: inline-block;
    background: #bbb;
    padding: 20px 8px;
    box-shadow: 2px 3px 4px -2px #888;
    border-radius: 5px;
}
.team {
    display: inline-block;
    height: 50px;
    padding-right: 60px;
    background: url(../imgs/default_team.png) no-repeat center right;
    text-align: center;
    margin:0 20px 0 0;
}
.team.right {
    background-position:center left;
    padding:0 0 0 60px;
    margin:0 0 0 20px;
}
.team::before { /* used to center .teamtext */
    content: "";
    display: inline-block;
    width: 0;
    height:100%;
    vertical-align:middle;
}
.teamtext {
    display: inline-block;
    width:85px;
    vertical-align: middle;
}
.teamtext * { display:block; }

/**
 * Footer
 */
footer {
    margin-top: 10px;
    font-size: 12px;
    text-align: right;
    color: #888;
}
footer a {
    color: #888;
    text-decoration:none;
}
footer a:hover { color: #555; }

.settings-check {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 8px;
    background-image: url(../imgs/settings.png);
    z-index: 9;
    outline: none;
}
.status ~ .settings-check {
    right: auto;
    left: 5px;
}
.settings-check:checked {
    background-image: url(../imgs/arrow.png); /* create back-arrow image */
}
.settings-check:checked ~ .main {
    display: none;
}
.settings-check:checked ~ .settings {
    display: block;
}

.settings {
    display: none;
}
.settings header {
    padding-left: 0;
}
.settings form {
    padding-left: 10px;
}
.settings label {
    width: 140px;
    display: inline-block;
}
.settings input {
    -webkit-appearance: none;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 0 6px 2px -6px #888;
    padding: 2px;
}
.settings .note {
    font-size: 12px;
    color: #666;
    text-align: right;
    margin: 5px 0;
}
.settings button { /* from CSGOLounge */
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    display: block;
    border: none;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    outline: 0;

    color: #333;
    font-size: 13px;
    padding: 5px;
    text-shadow: 1px 1px #bbb;
    box-shadow: 1px 2px 2px #666;
    border-radius: 3px;
    background: -webkit-linear-gradient(bottom, #c3c3c3 0%,#a2a2a2 100%);
    background: linear-gradient(to bottom, #c3c3c3 0%,#a2a2a2 100%);
}
.settings button:active { /* from CSGOLounge */
    top: 2px;

    background: #aaa;
    box-shadow: 0 0 3px #444;
}